[data-testid='mission-card'] {
  background-color: #21212180;
  padding: 15px;
  min-width: 150px;
  opacity: 0.8;
  text-align: left;
  cursor: pointer;
}

[data-testid='mission-name'] {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

[data-testid='mission-year'],
[data-testid='mission-country'] {
  margin-bottom: 10px;
}

[data-testid='mission-card']:hover {
  opacity: 1;
}
